<section>
  <article>
    <h3>Interpolação</h3>
    <p>String renderizada com Interpolação: {{ url }}</p>
    <p>Resultado da soma: {{ 1 + 1 }}</p>
    <p>Resultado da soma: {{ 1 + 1 + getValor() }}</p>
    <p>
      Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}
    </p>
  </article>

  <article>
    <h3>Interpolação</h3>
    <img src="{{ urlImage }}" />
    OU
    <h3>Property Binding</h3>
    <img [src]="urlImage" />
  </article>
  <article>
    <h3>Class e Style binding</h3>
    <div>
      Selecione uma classe: variavel local no template #classe com evento
      (change)="(0)"
      <select #classe (change)="(0)">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-danger">Erro</option>
      </select>
      <br /><br />
      queremos aplicar uma [class.alert-success] um verifica onde "classe.value
      === 'alert-success'" outra forma de class biding
      <div class="alert {{ classe.value }} " role="alert">
        TEXTO COLORIDO CONFORME VALOR DO COMBOBOX.
      </div>
      <div
        class="alert"
        role="alert"
        [class.alert-success]="classe.value === 'alert-success'"
      >
        Sucesso
      </div>
      <div
        class="alert"
        role="alert"
        [class.alert-info]="classe.value === 'alert-info'"
      >
        Info
      </div>
      <div
        class="alert"
        role="alert"
        [class.alert-warning]="classe.value === 'alert-warning'"
      >
        Alerta
      </div>
      <div
        class="alert"
        role="alert"
        [class.alert-danger]="classe.value === 'alert-danger'"
      >
        Erro
      </div>
      <h2>STYLE BIDING</h2>
      <div
        class="alert alert-danger"
        role="alert"
        [style.display]="classe.value === 'alert-danger' ? 'block' : 'none'"
      >
        ESSE TEXTO SO APARECE EM CASO DE ERRO.
      </div>
    </div>
  </article>
</section>
<section class="event-binding">
  <article>
    <h3>EVENT BINDING</h3>
    <div>
      <button class="btn btn-primary" (click)="botaoClicado()">ENVIAR</button>
      <br /><br />
      <!-- #nomeVariavel declara variavel local e podemos substituir event.target -->
      <input
        type="text"
        (keyup)="onKeyup($event)"
        (keyup.enter)="salvarValor(campoInput.value)"
        (blur)="salvarValor(campoInput.value)"
        #campoInput
      />
      <p>Valor Atual: {{ valorAtual }}</p>
      <p>Valor Salvo: {{ valorSalvo }}</p>

      <br />
      <span
        (mouseover)="onMouseOverOut()"
        (mouseout)="onMouseOverOut()"
        [class.highlight]="isMouseOver"
        >PASSE O MOUSE SOBRE MIM</span
      >
    </div>
  </article>
</section>
<app-meu-form></app-meu-form>

<section class="input-out-properties">

  <article>
    <h3>INPUT/OUTPUT PROPERTIES</h3>
    <app-curso [nome]="nomeDoCurso"></app-curso>
<!-- declacramos aqui eventEmitter no componente e no arquivo .ts -->
    <contador [valor]="valorInicial"
    (mudouValor)="onMudouValor($event)">
  </contador>
  </article>
</section>